RPC_URL=http://127.0.0.1:1234/rpc/v1
PRIVATE_KEY_TEST=
PRIVATE_KEY_SP=

POREP_MARKET_REPO=https://github.com/fidlabs/porep-market.git
POREP_MARKET_VERSION=v2
POREP_MARKET_DIR=
POREP_MARKET_V2_REF=803942a5f439e0a588da245727197ca22546bb1f
FILECOIN_PAY_REF=755ca20054dae88e9e28dc569e696e822c59907f
METAALLOCATOR_REF=41811a8bd6478ffbce4db47720fd9ac521b9e048

POREP_MARKET=
CLIENT_CONTRACT=
DATACAP_EVIDENCE_ADAPTER=
SP_REGISTRY=
VALIDATOR_FACTORY=
SLI_ORACLE=
SLI_SCORER=
META_ALLOCATOR=
ALLOCATOR_FACTORY=
FILECOIN_PAY=
USDC_TOKEN=
CLIENT_FIL_ADDR=

MINER_ACTOR_ID=1000
